<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <!-- WARNING: THIS FILE WORKS IN CONJUNCTION WITH LogFileManager. MAKE SURE TO KEEP THE FILES IN SYNC -->
  <variable name="brief" value="${time} | ${level} | ${callsite:className=false} | ${message} | ${exception:format=type,message,StackTrace:maxInnerExceptionLevel=10:innerFormat=type,message,StackTrace}"/>
  <variable name="verbose" value="${longdate} | ${machine} | ${processid} | ${processname} | ${level} | ${logger} | ${message}"/>
  
  <targets>
    <default-wrapper xsi:type="AsyncWrapper" overflowAction="Grow" timeToSleepBetweenBatches="0" />
    <target name="console" xsi:type="ColoredConsole" layout="${brief}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Off" writeTo="UDP1" />    
  </rules>
</nlog>